<!--DOCTYPE html -->
{% load staticfiles %}
<html>
<head>
<style>

}
.jumbotron{
  background-color: #9BBF62;
      color: #fff;

}
#bid{
     color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 75px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
}
.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  
</style>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />

<script type='text/javascript' src='{% static "js/jquery-3.1.0.min.js" %}'></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>

<script>

$(document).ready(function(){
    $("#myBtn2").click(function(){
        $("#myModal").modal();
    });
});
</script>

</head>

<body>
{% block content %}
	
	<div class="jumbotron">

		<h2 class='text-center' id='bid'>LILAMI</h2>
	
	
	 <nav class="navbar navbar-inverse navbar-defaults">
	   <div class="container-fluid">
	     <div class="navbar-header">
	       <a class="nav navbar-brand">AUCTION</a>
	     </div>
	     <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	       <li class="active"><a href="#">Auctions</a></li>
	      <li class="active"><a href="#">Contact</a></li>
	       
	       </ul>

	     <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'index' %}" >
        <li class="form-group">
          <input type="text" type='submit' class="form-control" name="q" value="{{ request.GET.q }}">
           <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-search"></span></button>
        </li>
        
      </form>

	       
          <li id="myBtn2"><a href='#'><span class="glyphicon glyphicon-log-in"></span> 
          Login</a></li>
          <li>
          <a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
          </li>
      </ul>
	    </ul>
	   
	    
	  </div>
	</nav>


	
	<div class="container">
		<div class="bg-success">

			{% for product in pro %}
				<div class="container">
				  <div class="row">
				    <div class="col-sm-4">
				      <div class="panel panel-primary">
				        <div class="panel-heading"><h2>{{ product.item_name }}</h2><br>Rs.{{ product.item_price }}</div>
				        <div class="panel-body"><img src="{{ product.item_image.url }}" class="img-rounded" alt="Cinque Terre" width="304" height="236" ></div>
				        <div class="panel-footer" id="myBtn2"><button type="button" class="btn btn-success" id="myBtn2" >BID</button></div>
				      
				      </div>
				    </div>
			{% endfor %}
	</div>	

		</div>

	</div>
  </div>

<div class="container">
  
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Login Modal content-->
       {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
            {% csrf_token %}
          <form role="form" action="{% url 'login_user' %}" method="post" enctype="multipart/form-data">
           {% csrf_token %}
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" name='username' id="usrname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="psw"  name='password' placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="{% url 'register' %}">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>

 {% endblock %}
 

/<!-- / function getCookie(c_name){
//         if (document.cookie.length > 0){
//             c_start = document.cookie.indexOf(c_name + "=");
//             if (c_start != -1){
//                 c_start = c_start + c_name.length + 1;
//                 c_end = document.cookie.indexOf(";", c_start);
//                 if (c_end == -1) c_end = document.cookie.length;
//                 return unescape(document.cookie.substring(c_start,c_end));
//             }
//         }
//         return "";
//     }
// $(function () {
//         $.ajaxSetup({
//             headers: { "X-CSRFToken": getCookie("csrftoken") }
//         });
//     });

// function login_to_user(){

// 	var uname = document.getElementById('id_username');
// 	var pass = document.getElementById('id_pass');
// 	document.write(6);
	
//   $.ajax({
//               url : {% url 'login_user' %},
//               type : "POST",
//               dataType : "json",
//               data : {'csrfmiddlewaretoken': '{{ csrf_token }}', 'uname':uname,'pass':pass},

//               success : function(data){
//               	console.log(data.username);
                 
//               },
//               error : function(data){alert(data.response);}
//           });
     
//   }
 -->



</body>
</html>